@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Permanent+Marker&display=swap");
//메인폰트

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
//노토산스

$visual_hover_color: #4136bf;
$text_backgroundcolor: #ffbf00;

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

h2 {
  font-family: "Lato", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
}

.swiper {
  .swiper-wrapper {
    .swiper-slide {
      background-color: #fff;
      height: 300px;

      p {
        top: 0;
        left: 0;
        position: absolute;
        display: inline-block;
        width: 45px;
        font-size: 17px;
        text-align: center;
        background-color: $text_backgroundcolor;
        font-weight: bold;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .more {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        opacity: 0;
        transition: all 0.3s;

        &:hover {
          opacity: 1;
        }

        p {
          width: 100%;
          font-size: 12px;
          background-color: transparent;
          font-weight: 100;
          left: 50%;
          transform: translateX(-50%);
          top: 120px;
          color: white;
        }

        .more_btn {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 50px;
          cursor: pointer;
          border: none;
          background-color: $text_backgroundcolor;
          width: 105px;
          height: 35px;
          border-radius: 5px 5px;
        }
      }
    }

    margin-bottom: 10px;

    .swiper-pagination {
      bottom: var(--swiper-pagination-bottom, -4px);

      .swiper-pagination-bullet {
        margin: 0px var(--swiper-pagination-bullet-horizontal-gap, 95px);
      }
    }
  }
}

//swiper

.visual_main_outer {
  .visual_swiper {
    position: relative;
    width: 1245px;
    height: 383px;
    margin: 0 auto;

    .swiper-wrapper {
      width: 1245px;
      height: 350px;

      .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
        &:nth-child(1) {
          // background-image: url(../images/visual_06.jpg);
          // background-size: cover;
        }

        .visual_main {
          width: 1245px;
          height: 350px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .visual_textbox {
          position: absolute;
          bottom: 85px;

          .visual_text {
            h2 {
              font-family: "Lato", sans-serif;
              font-family: "Noto Sans KR", sans-serif;
              font-weight: bold;
              color: white;
            }
            p {
              margin: 10px 0;
              color: white;
              font-weight: 100;
            }
          }

          .visual_btn {
            font-family: "Lato", sans-serif;
            font-family: "Noto Sans KR", sans-serif;

            // button {
            //     border-radius: 5px;
            //     border: none;
            //     background-color: #FFBF00;
            //     width: 129px;
            //     height: 40px;
            //     cursor: pointer;
            // }

            button {
              border: none;
              background-color: black;
              color: white;
              width: 120px;
              height: 40px;
              cursor: pointer;
              transition: all 0.3s;
              border-radius: 5px;
              &:hover {
                background-color: #ffbf00;
                color: black;
              }
            }
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        opacity: 0.5;
        padding: 15px 5px;
        border-radius: 20px;
        color: black !important;
      }

      .swiper-button-prev:after,
      .swiper-button-next:after {
        font-size: 1.1rem !important;
        font-weight: 600 !important;
      }

      .swiper-pagination {
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        bottom: -85px;
        .swiper-pagination-bullet {
          margin: 0 150px;
        }
        .swiper-pagination-text {
          width: 300px;
        }
      }
    } //swiper-wrapper
  }

  //visual_swiper

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-pagination-bullet {
      margin: 0 100px;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    margin: 0 60px;
  }
}

//visual_main_outer

.main_product {
  width: 1245px;
  margin: 60px auto;

  .main_title {
    h2 {
      text-align: center;
      padding: 15px 0;
    }
  }

  .product_outer {
    width: 1245px;

    .product {
      margin-right: 15px;
      width: 300px;
      height: 275px;
      background-color: rgb(185, 185, 185);

      .product_rank {
        text-align: center;
        width: 63px;
        height: 63px;
        font-size: 24px;
        background-color: rgb(155, 155, 155);
      }
    }
  }
}

//NEW,BEST RPODUCT

.lookbook {
  .lookbook_content {
    cursor: pointer;
  }

  .lookbook_title {
    width: 1245px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
  }

  .lookbook_outer {
    width: 1245px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .left_area {
      width: 615px;
      height: 615px;
      margin-right: 15px;

      .lookbook_img {
        img {
          width: 100%;
          height: 615px;
        }
      }
    }

    .right_area {
      width: 615px;
      height: 615px;

      .lookbook_video {
        height: 300px;
        margin-bottom: 15px;
        background-color: rgb(136, 136, 136);
      }

      .img_outer {
        display: flex;
        justify-content: space-between;

        .lookbook_img {
          width: 300px;
          height: 300px;
          overflow: hidden;

          img {
            width: 100%;
          }
        }

        .look_01 {
          background-color: rgb(136, 136, 136);
        }

        .look_02 {
          background-color: rgb(136, 136, 136);
          margin-right: 0;
        }
      }
    }

    .change_area {
      width: 1245px;
      height: 670px;

      .tab_content {
        margin-top: 16px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .tab_shirt {
        display: none;
      }

      .tab_pants {
        display: none;
      }

      .tab_cap {
        display: none;
      }

      .tab_bag {
        display: none;
      }
    }
  }
}

//look book

.md_pick {
  width: 1245px;
  height: 493px;
  margin: 60px auto;
  text-align: center;

  .md_pick_title {
    padding: 15px 0;
  }

  .md_pick_outer {
    display: flex;

    .md_content {
      position: relative;
      width: 200px;
      height: 400px;
      background-color: #afafaf;
      margin-right: 15px;
      transition: all 0.3s;

      &:nth-child(1) {
        width: 615px;
      }

      img {
        width: 100%;
        height: 100%;
      }

      .md_content_text {
        display: none;
        width: 50%;
        height: 100%;
        background-color: rgba(119, 119, 119, 0.3);
        position: absolute;
        top: 0;
        right: 0;
        color: white;

        p {
          font-size: 16px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 90px;

          span {
            font-weight: bold;
          }
        }

        .md_more_btn {
          cursor: pointer;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 60px;
          background-color: $text_backgroundcolor;
          width: 105px;
          height: 35px;
          font-size: 12px;
          border: 0;
          border-radius: 5px;
        }
      }

      .md_text_01 {
        display: block;
      }
    }

    //md_content
    .md_04 {
      margin-right: 0;
    }
  }
}

//md_pick

.instagram {
  width: 1245px;
  height: 382px;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;

  .insta_title {
    padding: 15px 0;
  }

  .insta_outer {
    display: flex;

    .content {
      width: 300px;
      height: 300px;
      background-color: gray;
      margin-right: 15px;
    }

    .content:last-child {
      margin-right: 0;
    }
  }
}

//instagram

.top_btn {
  background-color: rgba(0, 0, 0, 0.3);
  width: 75px;
  height: 75px;
  color: white;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 30px;
  opacity: 0;
  border-radius: 50%;
}

//TOP_btn

// .swiper-pagination {
// display: none;
// }

.swiper-pagination-bullet {
  background-color: white !important; /* 원하는 색상으로 변경 */
  .swiper-pagination-text {
    display: inline-block;
    font-size: 12px;
    span {
      display: inline-block;
    }
  }
}

.swiper-pagination-bullet-active {
  .swiper-pagination-text {
    // color:$visual_hover_color;
    display: inline-block;
    font-size: 12px;
    span {
    }
  }
}

.swiper-button-next {
  background: url(../images/right_arrow.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
}

.swiper-button-prev {
  background: url(../images/left_arrow.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
